<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view0-bwain.html">
<link rel="lazy-import" href="my-view1-login.html">
<link rel="lazy-import" href="my-view2-cuentas.html">
<link rel="lazy-import" href="my-view3-movimientos.html">
<link rel="lazy-import" href="my-view4-financiables.html">
<link rel="lazy-import" href="my-view5-conocenos.html">
<link rel="lazy-import" href="my-view6-logout.html">
<link rel="lazy-import" href="my-view7-alta.html">
<link rel="lazy-import" href="my-view8-alta-ok.html">
<link rel="lazy-import" href="my-view9-alta-ko.html">
<link rel="lazy-import" href="my-view10-profile.html">
<link rel="lazy-import" href="my-view11-baja.html">
<link rel="lazy-import" href="my-view12-baja-fisica.html">
<link rel="lazy-import" href="my-view404.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #0f3e8c;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      app-header a {
        color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
        margin-left:   10 px;
        margin-right: 10 px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>B W A I N</div>
            <a hidden$="{{estoylogado}}" name="view1-login" href="[[rootPath]]view1-login">Login<paper-icon-button icon="menu"></paper-icon-button></a>
            <a hidden$="{{estoylogado}}" name="view7-alta" href="[[rootPath]]view7-alta">Date de alta<paper-icon-button icon="search"></paper-icon-button></a>
            <a hidden$="{{!estoylogado}}" name="view2-cuentas"  href="[[rootPath]]view2-cuentas"><span class="glyphicon glyphicon-euro">&nbsp;&nbsp;</span></a>
            <a hidden$="{{!estoylogado}}" name="view10-profile"  href="[[rootPath]]view10-profile"><span class="glyphicon glyphicon-user">&nbsp;&nbsp;</span></a>
            <a name="view5-conocenos" href="[[rootPath]]view5-conocenos">Conócenos<paper-icon-button icon="search"></paper-icon-button></a>
            <a hidden$="{{!estoylogado}}" name="view6-logout"  href="[[rootPath]]view6-logout"><span class="glyphicon glyphicon-log-out"> </span></a>
          </app-toolbar>
        </app-header>

        <iron-pages
          selected="[[page]]"
          attr-for-selected="name"
          fallback-selection="view404"
          role="main">
            <my-view0-bwain name="view0-bwain"></my-view0-bwain>
            <my-view1-login name="view1-login" id="login" on-eventologin="consultarCuentas"></my-view1-login>
            <my-view2-cuentas name="view2-cuentas" idcliente={{idcliente}} idclienteaux={{idclienteaux}} nombre={{nombre}} apellidos={{apellidos}} on-eventomovs="consultarMovimientos"></my-view2-cuentas>
            <my-view3-movimientos name="view3-movimientos" idcliente={{idcliente}} nombre={{nombre}} apellidos={{apellidos}} iban={{iban}} ibanaux={{ibanaux}} saldo={{saldo}} on-eventofinan="financiarMvto" id="vmvts" on-eventovolvercuentas="consultarCuentas"></my-view3-movimientos>
            <my-view4-financiables name="view4-financiables" idcliente={{idcliente}} nombre={{nombre}} apellidos={{apellidos}} iban={{iban}} idmovimiento={{idmovimiento}} id="fmvts" on-eventomovs="consultarMovimientos" on-eventovolvercuentas="consultarCuentas"></my-view4-financiables>
            <my-view5-conocenos name="view5-conocenos"></my-view5-conocenos>
            <my-view6-logout name="view6-logout" on-eventologout="procLogout"></my-view6-logout>
            <my-view7-alta name="view7-alta" on-eventoalta="confAlta" on-eventoaltaerr="confAltaError"></my-view7-alta>
            <my-view8-alta-ok name="view8-alta-ok" nombre={{nombre}} apellidos={{apellidos}}></my-view8-alta-ok>
            <my-view9-alta-ko name="view9-alta-ko" nombre={{nombre}} apellidos={{apellidos}}></my-view9-alta-ko>
            <my-view10-profile name="view10-profile" on-eventobaja="procBaja" on-eventobajafisica="procBajaFisica"></my-view10-profile>
            <my-view11-baja name="view11-baja"></my-view11-baja>
            <my-view12-baja-fisica name="view12-baja-fisica" on-eventologout="procLogout"></my-view12-baja-fisica>
            <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          estoylogado: {
            type: Boolean,
            value: false
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
          this.page = page || 'bwain';
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        console.log("pageChanged");
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showBwain.bind(this),
            true);
      }

      _showBwain() {
        this.page = 'view0-bwain';
      }

      consultarCuentas(e) {
        console.log("consultarCuentas");
        this.idclienteaux = e.detail.idclienteaux
        this.nombre = e.detail.nombre
        this.apellidos = e.detail.apellidos
        this.estoylogado = true
        this.idcliente = e.detail.idcliente
        this.page = "view2-cuentas"
      }

      consultarMovimientos(e) {
        console.log("consultarMovimientos my-app");
        this.idcliente = e.detail.idcliente
        this.nombre = e.detail.nombre
        this.apellidos = e.detail.apellidos
        this.ibanaux = e.detail.ibanaux
        this.saldo = e.detail.saldo
        this.iban = e.detail.iban
        this.page = "view3-movimientos"
      }

      financiarMvto(e) {
        console.log("financiarMvto");
        this.idcliente = e.detail.idcliente
        this.nombre = e.detail.nombre
        this.apellidos = e.detail.apellidos
        this.iban = e.detail.iban
        this.idmovimiento = e.detail.idmovimiento
        this.page = "view4-financiables"
      }

      procLogout(e) {
          console.log("actualizar campo estoylogado");
          this.estoylogado = false
          localStorage.clear();
      }

      confAlta(e) {
          console.log("Confirmación proceso de alta")
          this.nombre = e.detail.nombre
          this.apellidos = e.detail.apellidos
          this.page = "view8-alta-ok"
      }

      confAltaError(e) {
          console.log("Confirmación proceso de alta errónea")
          this.nombre = e.detail.nombre
          this.apellidos = e.detail.apellidos
          this.page = "view9-alta-ko"
      }

      procBaja(e){
          console.log("Damos de baja")
          this.page = "view11-baja"
      }

      procBajaFisica(e){
          console.log("Damos de baja físicamente")
          this.page = "view12-baja-fisica"
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
