<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view2-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .table {
        font-size: 15px;
      }

      .table-striped {
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 15px;
      }

    </style>

    <iron-ajax id="obtenerCuentas"
             url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/cuentas"
             method="GET"
             handle-as="json"
             on-response="mostrarCuentas"
             on-error="mostrarErrorCuentas">
    </iron-ajax>

    <h1>Hola {{nombre}} {{apellidos}}, encantados de volver a verle</h1>
    <br/>
    <h1>Aquí tiene sus cuentas</h1>

    <table class="table table-striped">
      <thead>
        <th>IBAN</th>
        <th>SALDO</th>
        <th></th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.saldo}}</td>
            <td><a class="btn btn-info" href="[[rootPath]]view3-movimientos" on-click="buscarMovimientos" data-iban$="{{item.iban}}" data-saldo$={{item.saldo}}>Ver movimientos</a></td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    class MyView2Cuentas extends Polymer.Element {
      static get is() { return 'my-view2-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            observer: '_idclienteChanged'
          },
          idclienteaux: {
            type: Number
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          cuentas: {
            type: Array
          }
        };
      }
      mostrarCuentas(resultado) {
       console.log("Mostramos cuentas");
       this.cuentas = resultado.detail.response
      }
      mostrarErrorCuentas(error) {
        console.log("Error al sacar cuentas");
        console.log(error)
      }
      _idclienteChanged(newValue, oldValue) {
        console.log("Detectamos actualización de cliente");
        this.cuentas = null
        this.idcliente = this.idclienteaux
        this.$.obtenerCuentas.headers.idcliente = this.idcliente
        this.$.obtenerCuentas.generateRequest()
      }
      connectedCallback() {
        super.connectedCallback()
        console.log("Consultar cuentas")
        this.$.obtenerCuentas.headers.idcliente = this.idcliente
        this.$.obtenerCuentas.generateRequest()
      }
      buscarMovimientos(event) {
        console.log("Buscar Movimientos")
        const detailiban = event.target.dataset.iban
        const detailsaldo = event.target.dataset.saldo
        const detailibanvacio = ""
        this.dispatchEvent(new CustomEvent("eventomovs", {"detail":{"idcliente":this.idcliente,
                                                                    "nombre":this.nombre,
                                                                    "apellidos":this.apellidos,
                                                                    "iban":detailibanvacio,
                                                                    "ibanaux":detailiban,
                                                                    "saldo":detailsaldo}}))
      }
    }

    window.customElements.define(MyView2Cuentas.is, MyView2Cuentas);
  </script>
</dom-module>
