<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view8-alta-ok">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
        <div align="center">
          <span>Enhorabuena {{nombre}} {{apellidos}}, ha tomado una gran decisión al unirse a nosotros</span>
        </div>
    </div>
  </template>

  <script>
    class MyView8AltaOk extends Polymer.Element {
      static get is() { return 'my-view8-alta-ok'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          }
        };
      }
    }
    window.customElements.define(MyView8AltaOk.is, MyView8AltaOk);
  </script>
</dom-module>
