<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view9-alta-ko">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
        <div align="center">
          <span>Lo sentimos mucho {{nombre}} {{apellidos}}, ha habido algún error en el proceso de Alta. Contacte con Soporte, por favor</span>
        </div>
    </div>
  </template>

  <script>
    class MyView9AltaKo extends Polymer.Element {
      static get is() { return 'my-view9-alta-ko'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          }
        };
      }
    }
    window.customElements.define(MyView9AltaKo.is, MyView9AltaKo);
  </script>
</dom-module>
