<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view10-profile">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        font-size: 15px;
      }
    </style>

    <iron-ajax
      id="consultaProfile"
      method="GET"
      url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/usuarios/{{id}}"
      handle-as="json"
      on-response="profileOk"
      on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{first_name}}</td>
        </tr>
        <tr>
          <td>Apellidos</td>
          <td>{{last_name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email}}</td>
        </tr>
        <tr>
          <td>Sexo</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>País</td>
          <td>{{country}}</td>
        </tr>
        <tr>
          <td>Contraseña</td>
          <td>{{password}}</td>
        </tr>
      </tbody>
    </table>

    <br/><br/>

    <table class="table">
      <tbody>
        <tr>
          <td align="center"><a class="btn btn-warning" href="[[rootPath]]view11-baja" on-click="bajaUsuario">Date de baja</a></td>
          <td align="center"><a class="btn btn-danger" href="[[rootPath]]view12-baja-fisica" on-click="bajaUsuarioFisica">Date de baja para siempre jamás</a></td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    class MyView10Profile extends Polymer.Element {
      static get is() { return 'my-view10-profile'; }
      static get properties() {
        return {
          firts_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          gender: {
            type: String
          },
          country: {
            type: String
          },
          password: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }
      profileOk(resultado) {
        console.log("Consula Usuario")
        console.log("Resultado: ")
        console.log(resultado)
        console.log("Result detail response")
        console.log(resultado.detail.response)
        this.first_name = resultado.detail.response[0].first_name
        this.last_name = resultado.detail.response[0].last_name
        this.email = resultado.detail.response[0].email
        this.gender = resultado.detail.response[0].gender
        this.country = resultado.detail.response[0].country
        this.password = resultado.detail.response[0].password
        console.log("Salimos de consulta de Usuario");
        // this.movimientos = resultado.detail.response[0].movimientos

      }
      mostrarErrorMovimientos(error) {
        console.log("Error en consulta de usuario");
        console.log(error.detail)
        console.log(error)
      }
      connectedCallback() {
        super.connectedCallback()
        console.log("entro en consulta de Usuario")
        this.id = Number(localStorage.idclienteStorage)
        this.$.consultaProfile.generateRequest()
      }
      _logoutChanged() {
        console.log("entro en HACER LOGOUT por Boolean")
        this.$.consultaProfile.headers.id = Number(localStorage.idclienteStorage)
        this.$.consultaProfile.generateRequest()
      }
      bajaUsuario(event) {
        console.log("Damos de baja al Usuario")
        this.dispatchEvent(new CustomEvent("eventobaja"))
      }
      bajaUsuarioFisica(event) {
        console.log("Damos de baja al Usuario físicamente")
        this.dispatchEvent(new CustomEvent("eventobajafisica"))
      }

    }

    window.customElements.define(MyView10Profile.is, MyView10Profile);
  </script>
</dom-module>
