<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view11-baja">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax id="bajaSolicitud"
               method="PUT"
               url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/usuarios"
               handle-as="json"
               on-response="bajaOK"
               on-error="bajaKO">
    </iron-ajax>

    <div class="card">
      <div align="center">
        <span hidden$="{{borrado}}">Operación en curso, espere unos instantes para ver el resultado</span>
        <span hidden$="{{!borrado}}">Lo sentimos en el alma, pero tal y como nos solicitó hemos eliminado su usuario de nuestros sistemas</span>
        <span hidden$="{{!borradoerr}}">Upssss, algo ha ido mal, contacte con Soporte por favor</span>
      </div>
    </div>
  </template>

  <script>
    class MyView11Baja extends Polymer.Element {
      static get is() { return 'my-view11-baja'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          borrado: {
            type: Boolean,
            value: false
          },
          borradoerr: {
            type: Boolean,
            value: false
          }
        };
      }
      bajaOK(resultado) {
        console.log("Procesada baja correctamente");
        this.borrado = true
        this.dispatchEvent(new CustomEvent("eventologout"))
      }
      bajaKO(error) {
        console.log("Error en proceso de baja");
        console.log(error)
        this.borradoerr = true
      }
      connectedCallback() {
        this.borrado = false
        this.borradoerr = false
        super.connectedCallback()
        console.log("Entro en baja de usuario")
        this.$.bajaSolicitud.headers.id = Number(localStorage.idclienteStorage)
        this.$.bajaSolicitud.generateRequest()
      }
    }
    window.customElements.define(MyView11Baja.is, MyView11Baja);
  </script>
</dom-module>
