<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view7-alta">
  <template>
    <style>
      :host {
        display: block;
      }

      .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      }

    </style>
    <iron-ajax id="darAlta"
          url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/usuarios"
          method="POST"
          handle-as="json"
          on-response="mostrarResultadoAlta"
          on-error="mostrarErrorAlta">
    </iron-ajax>

    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      		<form role="form">
      			<h2>Regístrate <small>Únete a nosotros</small></h2>
      			<hr class="colorgraph">
      			<div class="row">
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <input type="text" value="{{first_name::input}}" name="first_name" id="first_name" class="form-control input-lg" placeholder="Nombre">
      					</div>
      				</div>
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <input type="text" value="{{last_name::input}}" name="last_name" id="last_name" class="form-control input-lg" placeholder="Apellidos">
      					</div>
      				</div>
      			</div>
      			<div class="form-group">
              <input type="email" value="{{email::input}}" name="email" id="email" class="form-control input-lg" placeholder="Email">
      			</div>
            <div class="form-group">
              <input type="password" value="{{password::input}}" name="password" id="password" class="form-control input-lg" placeholder="Contraseña">
  					</div>
            <div class="row">
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <input type="text" value="{{gender::input}}" name="gender" id="gender" class="form-control input-lg" placeholder="Sexo">
      					</div>
      				</div>
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <input type="country" value="{{country::input}}" name="country" id="country" class="form-control input-lg" placeholder="País">
      					</div>
      				</div>
      			</div>
      			<hr class="colorgraph">
      			<div class="row">
              <div class="col-xs-12 col-md-12"><a class="btn btn-success btn-block btn-lg" value="Register" on-click="alta">Alta</a></div>
      			</div>
      		</form>
      	</div>
      </div>
    </div>

  </template>

  <script>
  class MyView7Alta extends Polymer.Element {
    static get is() { return 'my-view7-alta'; }
    static get properties() {
      return {
        firts_name: {
          type: String
        },
        last_name: {
          type: String
        },
        email: {
          type: String
        },
        gender: {
          type: String
        },
        country: {
          type: String
        },
        password: {
          type: String
        }
      };
    }
    alta() {
      console.log("Ejecutamos API Alta de usuarios");
      this.$.darAlta.headers.first_name = this.first_name
      this.$.darAlta.headers.last_name = this.last_name
      this.$.darAlta.headers.email = this.email
      this.$.darAlta.headers.gender = this.gender
      this.$.darAlta.headers.country = this.country
      this.$.darAlta.headers.password = this.password
      this.$.darAlta.generateRequest()
    }
    mostrarResultadoAlta(resultado) {
      console.log("Proceso Alta OK");
      this.dispatchEvent(new CustomEvent("eventoalta", {"detail":{"nombre":this.first_name,
                                                                "apellidos":this.last_name}}))
      this.first_name = null
      this.last_name = null
      this.email = null
      this.gender = null
      this.country = null
      this.password = null
      this.password_confirmation = null
    }
    mostrarErrorAlta(error) {
      console.log("Proceso Alta KO");
      console.log(error)
      this.dispatchEvent(new CustomEvent("eventoaltaerr", {"detail":{"nombre":this.first_name,
                                                                     "apellidos":this.last_name}}))
      this.first_name = null
      this.last_name = null
      this.email = null
      this.gender = null
      this.country = null
      this.password = null
      this.password_confirmation = null
    }
  }

    window.customElements.define(MyView7Alta.is, MyView7Alta);
  </script>
</dom-module>
