<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view3-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .table {
        font-size: 15px;
      }

      .table-striped {
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 15px;
      }

    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/cuentas/movimientos/financiaciones"
               method="GET"
               handle-as="json"
               on-response="mostrarMovimientos"
               on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <div class="card">
      <h1>Hola {{nombre}} {{apellidos}}</h1>
      <br/>
      <h1>Aquí tiene los movimientos de su cuenta {{iban}}</h1>
      <h1>El saldo de la cuenta es {{saldo}}</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <th>FECHA</th>
        <th>IMPORTE</th>
        <th>MONEDA</th>
        <th>DESCRIPCION</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.moneda}}</td>
            <td>{{item.descripcion}}</td>
            <td><template is="dom-if" if="{{item.financiable}}">
                <a class="btn btn-danger" href="[[rootPath]]view4-financiables" on-click="financiarMvto" data-iban$="{{iban}}" data-idmovimiento$="{{item.id}}">Fináncialo</a>
                </template>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div class="card">
      <a class="btn btn-warning" href="[[rootPath]]view2-cuentas" on-click="volverConsultaCuentas">Volver a ver tus cuentas</a>
    </div>
  </template>

  <script>
    class MyView3Movimientos extends Polymer.Element {
      static get is() { return 'my-view3-movimientos'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          idclienteaux: {
              type: Number
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          iban: {
            type: String,
            observer: '_ibanChanged'
          },
          ibanaux: {
            type: String
          },
          saldo: {
            type: Number
          },
          movimientos: {
            type: Array
          }
        };
      }
      mostrarMovimientos(resultado) {
        console.log("Mostrar movimientos de la cuenta");
        this.movimientos = resultado.detail.response[0].movimientos
      }
      mostrarErrorMovimientos(error) {
        console.log("Error al mostrar movimientos de la cuenta");
        console.log(error)
      }
      _ibanChanged(newValue, oldValue) {
        console.log("Detectamos cambio de iban y refrescamos consulta de movimientos")
        this.movimientos = null
        this.iban = this.ibanaux
        this.ibanEd = '"' + this.iban + '"'
        this.$.obtenerMovimientos.headers.iban = this.ibanEd
        this.$.obtenerMovimientos.generateRequest()
      }
      connectedCallback() {
        super.connectedCallback()
        console.log("Lanzamos consulta de movimientos")
        this.ibanEd = '"' + this.iban + '"'
        this.$.obtenerMovimientos.headers.iban = this.ibanEd
        this.$.obtenerMovimientos.generateRequest()
      }
      financiarMvto(event) {
        console.log("Financiar Movimiento")
        const detailiban = event.target.dataset.iban
        const detailidmvto = event.target.dataset.idmovimiento
        this.dispatchEvent(new CustomEvent("eventofinan", {"detail":{"idcliente":this.idcliente,
                                                                     "nombre":this.nombre,
                                                                     "apellidos":this.apellidos,
                                                                     "iban":detailiban,
                                                                     "idmovimiento":detailidmvto}}))
      }
      volverConsultaCuentas() {
        console.log("Volvemos a ver las cuentas")
        this.idclienteaux = this.idcliente
        this.idcliente = 0
        this.dispatchEvent(new CustomEvent("eventovolvercuentas", {"detail":{"idcliente":this.idcliente,
                                                                             "idclienteaux":this.idclienteaux,
                                                                             "nombre":this.nombre,
                                                                             "apellidos":this.apellidos}}))
      }
    }

    window.customElements.define(MyView3Movimientos.is, MyView3Movimientos);
  </script>
</dom-module>
