<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view4-financiables">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax id="financiarMovimiento"
               method="POST"
               url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/cuentas/movimientos/financiaciones"
               handle-as="json"
               on-response="financiacionOK"
               on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <div class="card">
      <div align="center">
        <span hidden$="{{financiado}}">Operación en curso, espere unos instantes para ver el resultado</span>
        <span hidden$="{{!financiado}}">Nos satisface comunicarte que la financiación se ha realizado correctamente</span>
        <span hidden$="{{!financiadoerr}}">Lo sentimos pero ha sucedido algo y no se ha realizado la financiacion. Contacte con el Soporte de BWAIN</span>
      </div>
    </div>

    <br/><br/>

    <table class="table">
      <tbody>
        <tr>
          <td align="center"><a class="btn btn-info" href="[[rootPath]]view3-movimientos" on-click="volverConsultaCuenta">Consulta cómo ha quedado tu cuenta</a></td>
          <td align="center"><a class="btn btn-warning" href="[[rootPath]]view2-cuentas" on-click="volverConsultaCuentas">Volver a ver todas tus cuentas</a></td>
        </tr>
      </tbody>
    </table>

  </template>

  <script>
    class MyView4Financiables extends Polymer.Element {
      static get is() { return 'my-view4-financiables'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          iban: {
            type: String
          },
          idmovimiento: {
            type: Number,
            observer: '_idmovimientoChanged'
          },
          financiado: {
            type: Boolean,
            value: false
          },
          financiadoerr: {
            type: Boolean,
            value: false
          },
          saldo: {
            type: Number
          }
        };
      }
      financiacionOK(resultado) {
        console.log("La financiación ha ido correctamente");
        this.financiado = true
        this.saldo = resultado.detail.response.saldo
      }
      mostrarErrorMovimientos(error) {
        console.log("Error en el proceso de financiacion");
        console.log(error)
        this.financiadoerr = true
      }
      _idmovimientoChanged() {
        this.financiado = false
        this.financiadoerr = false
        console.log("Voy a financiar un movimiento al detectar un cambio de id")
        this.ibanEd = '"' + this.iban + '"'
        this.$.financiarMovimiento.headers.iban = this.ibanEd
        this.$.financiarMovimiento.headers.idmovimiento = this.idmovimiento
        this.$.financiarMovimiento.generateRequest()
      }
      volverConsultaCuenta() {
        console.log("Volvemos a ver los movimientos de la cuenta")
        this.ibanaux = this.iban
        this.iban = ""
        this.dispatchEvent(new CustomEvent("eventomovs", {"detail":{"idcliente":this.idcliente,
                                                                    "nombre":this.nombre,
                                                                    "apellidos":this.apellidos,
                                                                    "iban":this.iban,
                                                                    "ibanaux":this.ibanaux,
                                                                    "saldo":this.saldo}}))
      }
      volverConsultaCuentas() {
        console.log("Volvemos a ver las cuentas")
        this.idclienteaux = this.idcliente
        this.idcliente = 0
        this.dispatchEvent(new CustomEvent("eventovolvercuentas", {"detail":{"idcliente":this.idcliente,
                                                                             "idclienteaux":this.idclienteaux,
                                                                             "nombre":this.nombre,
                                                                             "apellidos":this.apellidos}}))
      }
    }

    window.customElements.define(MyView4Financiables.is, MyView4Financiables);
  </script>
</dom-module>
