<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view6-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        font-size: 15px;
      }
    </style>

    <iron-ajax id="hacerLogout"
               method="POST"
               url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/logout"
               handle-as="json"
               on-response="logoutOK"
               on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <div class="card">
      <div align="center">
        <span hidden$="{{hechologout}}">Desconexión en curso, espere unos instantes para ver el resultado</span>
        <span hidden$="{{!hechologout}}">Nos satisface comunicarte que la desconexión se ha realizado correctamente. VUELVE PRONTO!!!</span>
        <span hidden$="{{!hechologouterr}}">UPSsssssssss. Ha habido algún error. Contacte con el Soporte de BWAIN</span>
      </div>
    </div>
  </template>

  <script>
    class MyView6Logout extends Polymer.Element {
      static get is() { return 'my-view6-logout'; }
      static get properties() {
        return {
          hechologout: {
            type: Boolean,
            value: false
          },
          hechologouterr: {
            type: Boolean,
            value: false
          }
        };
      }
      logoutOK(resultado) {
        console.log("Logout OK");
        this.hechologout = true
        this.dispatchEvent(new CustomEvent("eventologout"))
      }
      mostrarErrorMovimientos(error) {
        console.log("Error en Logout");
        console.log(error)
        this.hechologoutdoerr = true
      }
      connectedCallback() {
        super.connectedCallback()
        console.log("entro en HACER LOGOUT")
        this.$.hacerLogout.headers.id = Number(localStorage.idclienteStorage)
        this.$.hacerLogout.generateRequest()
      }
    }

    window.customElements.define(MyView6Logout.is, MyView6Logout);
  </script>
</dom-module>
