<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="my-map.js"></script>

</script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik">
</script>

<dom-module id="my-view5-conocenos">
  <template>
    <style>
      :host {
        display: block;
      }

      #team {
          background: #eee !important;
      }

      section {
          padding: 60px 0;
      }

      section .section-title {
          text-align: center;
          color: #04007b;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-size: 60px;
      }

      #team .card {
          border: none;
          background: #0f3e8c;
      }

      .image-flip:hover .backside,
      .image-flip.hover .backside {
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          transform: rotateY(0deg);
          border-radius: .25rem;
      }

      .image-flip:hover .frontside,
      .image-flip.hover .frontside {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
      }

      .mainflip {
          -webkit-transition: 1s;
          -webkit-transform-style: preserve-3d;
          -ms-transition: 1s;
          -moz-transition: 1s;
          -moz-transform: perspective(1000px);
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transition: 1s;
          transform-style: preserve-3d;
          position: relative;
      }

      .frontside {
          position: relative;
          -webkit-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          z-index: 2;
          margin-bottom: 30px;
      }

      .backside {
          position: absolute;
          top: 0;
          left: 0;
          background: white;
          -webkit-transform: rotateY(-180deg);
          -moz-transform: rotateY(-180deg);
          -o-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
          -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
          -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
          box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      }

      .frontside,
      .backside {
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: 1s;
          -webkit-transform-style: preserve-3d;
          -moz-transition: 1s;
          -moz-transform-style: preserve-3d;
          -o-transition: 1s;
          -o-transform-style: preserve-3d;
          -ms-transition: 1s;
          -ms-transform-style: preserve-3d;
          transition: 1s;
          transform-style: preserve-3d;
      }

      .frontside .card,
      .backside .card {
          min-height: 600px;
          font-size: 15px;
          background-color: #0f3e8c;
          color: #ffffff;
      }

      .backside .card a {
          font-size: 18px;
          color: #ffffff !important;
      }

      .frontside .card .card-title,
      .backside .card .card-title {
          color: #ffffff !important;
          font-size: 25px;
      }

      .frontside .card .card-body img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
      }

      .frontside .card .card-body h2 {
          font-size: 20px;
      }

      .frontside .card .card-body h6 {
          font-size: 20px;
      }

    </style>

    <div class="container">
      <br><br>
      <h1 class="section-title h1" align=center><strong>C O N Ó C E N O S</strong></h1>
      <br>
      <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../images/aoa.png" alt="card image"></p>
                                <h4 class="card-title">Alberto Olivares Antolin</h4>
                                <h6 class="card-title">Ingeniería & HoD España</h6>
                                <p class="card-text">2 años y medio en BBVA. Principalmente en el ámbito de la Ciberseguridad. Recientemente en Reporting Normativo.</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-left mt-4">
                                <h6 class="card-title">Antes de la TechU</h6>
                                <p><u>Formacion</u></p>
                                <ul>
                                  <li>Ingeniería en Informática de Gestión</li>
                                  <li>Master en Telecomunicaciones Móviles</li>
                                </ul>
                                <p><u>Experiencia laboral</u></p>
                                <ul>
                                  <li>Telefónica Móviles</li>
                                  <li>Ernst & Young</li>
                                  <li>PwC</li>
                                  <li>I4S / Mnemo</li>
                                  <li>BBVA</li>
                                </ul>
                                <p><u>Tecnologías usadas</u></p>
                                <ul>
                                  <li>Lenguajes de programación: Java y PHP</li>
                                  <li>Bases de datos relacionales: Oracle y PostgreSQL</li>
                                  <li>Tecnologías de seguridad: SIEM, DLP y IAM</li>
                                </ul>
                                <h6 class="card-title">Despues de la TechU</h6>
                                <ul>
                                  <li>Concepto DevOps y tecnologías que confluyen (git, Bitbucket, Docker, Openshift)</li>
                                  <li>Javascript como lenguaje de backend (el mundo se ha vuelto loco)</li>
                                  <li>API REST</li>
                                </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../images/dpc.png" alt="card image"></p>
                                <h4 class="card-title">Daniel Pizarro Cejudo</h4>
                                <h6 class="card-title">ANS Medios de Pago</h6>
                                <p class="card-text">2 años en BBVA</p>
                                <p class="card-text">Ingeniería & HoD España > Sistemas España > Medios de Pago y CF</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-left mt-4">
                                <h6 class="card-title">Antes de la TechU</h6>
                                <p><u>Formacion</u></p>
                                <ul>
                                  <li>Ingeniería en Informática de Sistemas en la URJC</li>
                                  <li>Master en Ingeniería de la Decisión</li>
                                </ul>
                                <p><u>Experiencia laboral</u></p>
                                <ul>
                                  <li>Tecnocom (ahora INDRA)</li>
                                  <li>BBVA</li>
                                </ul>
                                <p><u>Tecnologías usadas</u></p>
                                <ul>
                                  <li>COBOL</li>
                                  <li>JCL</li>
                                  <li>Mainframe 3270</li>
                                  <li>Némesis</li>
                                  <li>Crear web www.multimediadictos1.50webs.com en práctica universitaria</li>
                                </ul>
                                <h6 class="card-title">Despues de la TechU</h6>
                                <ul>
                                  <li>Concepto DevOps y *aaS</li>
                                  <li>Tecnologías que confluyen (git, Bitbucket, Docker, Openshift)</li>
                                  <li>Javascript como lenguaje de backend </li>
                                  <li>HTML + Polymer</li>
                                </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br><br>
      <h1 class="section-title h1" align=center><strong>¿DONDE ESTAMOS?</strong></h1>
      <br>
      <div align="center">
        <div style="width:900px;height:400px;">
          <google-map zoom=6 latitude=42.0700000 longitude=-3.7039562 fit-to-markers api-key="AIzaSyCtOX3UIcFZKii5BUdXCEpKIBYmHC9nxAI">
            <google-map-marker latitude=40.4804595 longitude=-3.7039562 draggable="false"></google-map-marker>
            <google-map-marker latitude=43.2700000 longitude=-2.9600000 draggable="false"></google-map-marker>
          </google-map>
        </div>
      </div>
      <br><br>
    </div>
  </template>

  <script>
  class MyView5Conocenos extends Polymer.Element {
    static get is() { return 'my-view5-conocenos'; }
    static get properties() {
      return {
      };
    }
  }

    window.customElements.define(MyView5Conocenos.is, MyView5Conocenos);
  </script>
</dom-module>
