<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view1-login">
  <template>
    <style>
      :host {
        display: block;
      }

      .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      }

    </style>
    <iron-ajax id="hacerLogin"
          url="http://bwain-server-bwain-server.193b.starter-ca-central-1.openshiftapps.com/bwain-server/v1/login"
          method="POST"
          handle-as="json"
          on-response="mostrarResultadoLogin"
          on-error="mostrarError">
    </iron-ajax>

    <br></br>


    <div class="container">
      <div class="row" style="margin-top:20px">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      		<form role="form">
      			<fieldset>
      				<h2>Conéctate</h2>
      				<hr class="colorgraph">
      				<div class="form-group">
                  <input type="email" value="{{email::input}}" name="email" id="email" class="form-control input-lg" placeholder="Email">
      				</div>
      				<div class="form-group">
                <input type="password" value="{{password::input}}" name="password" id="password" class="form-control input-lg" placeholder="Password">
      				</div>
      				<hr class="colorgraph">
      				<div class="row">
      					<div class="col-xs-12 col-md-12">
                  <a class="btn btn-lg btn-success btn-block" on-click="logar">Login</a>
      					</div>
                <span hidden$="{{!loginerr}}">Error de email o contraseña, vuelve a intentarlo</span>
      				</div>
      			</fieldset>
      		</form>
      	</div>
      </div>
    </div>

    <br></br>

  </template>

  <script>
  class MyView1Login extends Polymer.Element {
    static get is() { return 'my-view1-login'; }
    static get properties() {
      return {
        email: {
          type: String
        },
        password: {
          type: String

        },
        loginerr: {
          type: Boolean,
          value: false
        },
        idclientedisplayar: {
          type: Number
        }
      };
    }
    mostrarResultadoLogin(resultado) {
      console.log("Login OK -- Desdencadeno consulta de Cuentas");
      localStorage.idclienteStorage = Number(resultado.detail.response.id)
      this.dispatchEvent(new CustomEvent("eventologin", {"detail":{"idcliente":resultado.detail.response.id,
                                                                   "idclienteaux":resultado.detail.response.id,
                                                                   "nombre":resultado.detail.response.nombre,
                                                                   "apellidos":resultado.detail.response.apellidos}}))
    }
    logar() {
      this.$.hacerLogin.headers.email = this.email
      this.$.hacerLogin.headers.password = this.password
      this.email = null
      this.password = null
      this.$.hacerLogin.generateRequest()
    }
    mostrarError(error) {
      console.log("Error de login")
      console.log(error)
      this.email = null
      this.password = null
      this.loginerr = true
    }
  }

    window.customElements.define(MyView1Login.is, MyView1Login);
  </script>
</dom-module>
