<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view0-bwain">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div class="card">
      <div align="center">
        <h1>¿Por qué se llama BWAIN?</h1>
      </div>
      <p class="card-text">En los inicios de la década de los 90 del siglo pasado, un grupo de trabajo (http://www.twain.org/) creó un estándar destinado a la adquisición de imágenes de un escáner. La historia cuenta que no fueron capaces de bautizar a la tecnología con un nombre interesante (como, p.e., Ether o Cells) y que, por lo tanto, acabaron llamando a esta API por el nombre TWAIN "Technology Without An Interesting Name" (Tecnología Sin Un Nombre Interesante).</p>
      <p class="card-text">A nosotros nos ha pasado lo mismo. Nos hemos juntado para empezar un proyecto desde cero basándonos en los conceptos y tecnologías que hemos aprendido y practicado durante todo el Practitioner.</p>
      <p class="card-text">En un alarde de originalidad, como no sabíamos cómo llamarnos, hemos  copiado la historia. Como nuestra aplicación es un prototipo de aplicación bancaria muy sencilla, hemos decidido llamar al proyecto <strong>BWAIN (Bank Without An Interesting Name).</strong></p>
    </div>

    <div class="card">
      <div align="center">
        <h1>Situación actual BBVA (Móvil Y Net)</h1>
      </div>
      <p class="card-text">Cuando un cliente consulta los movimientos de las tarjetas aparece un botón de “Financiar” en aquellas operaciones que cumplen las condiciones para ser financiables. Si el cliente lo pulsa se genera una orden de financiación que el Back procesará en batch pero el botón de “Financiar” no desaparece hasta que la financiación se da de alta y se informa de ello a la aplicación que mantiene la BBDD que está en Elastic y actualizan el indicador del movimiento. En este momento el cliente deja de ver el botón de “Financiar” pero pueden pasar varias horas, incluso días.</p>
      <p class="card-text">Cada vez que el cliente le vuelve a dar al botón provoca un error en el Back y al cliente se le muestra un mensaje de error muy poco esclarecedor.</p>
    </div>

    <div class="card">
      <div align="center">
        <h1>Propuesta proyecto BWAIN</h1>
      </div>
      <p class="card-text">Hemos creado una aplicación de consulta de Cuentas a partir del ID del cliente que se ha logado (validando email, contraseña y que no se ha dado de baja). Una vez el cliente selecciona una de sus cuentas aparecen los movimientos registrados. Definimos como financiables los cargos de más de 300 Euros. En estos casos aparece un botón “Fináncialo”. Si se pulsa desencadena una financiación “online” que consiste en:</p>
      <ul>
        <li>Insertar un movimiento de signo contrario</li>
        <li>El saldo de la cuenta  se ve aumentado por el importe de la operación</li>
        <li>A la operación original <strong>YA NO</strong> le aparece el botón “Fináncialo”.</li>
      </ul>
    </div>
  </template>

  <script>
  class MyView0Bwain extends Polymer.Element {
    static get is() { return 'my-view0-bwain'; }
    static get properties() {
      return {
      };
    }
  }

    window.customElements.define(MyView0Bwain.is, MyView0Bwain);
  </script>
</dom-module>
